$contentMaxWidth: 1400px;
$c_bg: #7D1820;
$c_link: #275481;
$c_ltred: #e6cdce;
$c_winered: #9F071A;
$c_lblue: #0078ff;
$hdr_mbl_height: 50px;
$hdr_pc_height: 100px;
$width_400: 400px;
$height_300: 300px;
$acd_chi_height: 44px;