@charset "UTF-8";
* {
  font-family: 游ゴシック,游ゴシック体,Yu Gothic,YuGothic,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,sans-serif;
}

.bdr_btm_no {
  border-bottom: none !important;
}

.pt_16 {
  padding: 16px 0 0 !important;
}

.acd__parent__ttl {
  position: relative;
}

.acd__child__size8.inview {
  height: 352px;
}

.acd__child__size7.inview {
  height: 308px;
}

.acd__child__size6.inview {
  height: 264px;
}

.acd__child__size5.inview {
  height: 220px;
}

.acd__child__size4.inview {
  height: 176px;
}

.acd__child__size3.inview {
  height: 132px;
}

.fa-angle-down {
  font-size: 18px !important;
}

.mbl__container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.mbl__menu {
  overflow-y: scroll;
  background: #fff;
  color: #333;
  margin: auto;
  z-index: 99;
  height: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.mbl__menu.active {
  -webkit-transform: none;
          transform: none;
  height: calc(100vh - 60px);
}

.mbl__menu a {
  display: block;
  padding: 16px 6.25% 14px;
  font-weight: 700;
}

.mbl__menu__chd__ul {
  background-color: #7D1820;
  color: #e6cdce;
  display: block;
  height: 0;
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mbl__menu__chd__ul.inview {
  opacity: 1;
  visibility: visible;
}

.mbl__menu__chd__ul a {
  font-weight: normal;
  padding: 16px 0 14px;
}

.mbl__menu__chd__ul li {
  border-bottom: 1px solid #a04448;
  margin: 0 6.25%;
}

.mbl__menu__li {
  border-bottom: 1px solid #bebebe;
}

.mbl__menu__toggle_btn {
  position: absolute;
  top: 20%;
  right: 20px;
}

.mbl__li__ttl.inview {
  color: #7D1820;
}

.mbl__ul a {
  font-size: 13px !important;
  color: #666666;
}

.toglle_block {
  position: absolute;
  display: block;
  right: 10px;
  top: -3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toglle_block.inview {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mbl__nav {
  height: 60px;
}

.mbl__nav a {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  z-index: 2;
}

.nav_open div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav_open div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.nav_open div:nth-of-type(3) {
  -webkit-transform: translate(-50%, 7px);
          transform: translate(-50%, 7px);
}

.nav_open.active div:nth-last-child(1) {
  -webkit-transform: rotate(45deg) translate(-50%, 0px);
          transform: rotate(45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav_open.active div:nth-last-child(2) {
  opacity: 0;
}

.nav_open.active div:nth-last-child(3) {
  -webkit-transform: rotate(-45deg) translate(-50%, 0px);
          transform: rotate(-45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.slide_in.su {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
}

.slide_in.su.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.slide_in.sl {
  -webkit-transform: translateX(-99%);
          transform: translateX(-99%);
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
}

.slide_in.sl.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.slide_in.sr {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
}

.slide_in.sr.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.slide_in.sd {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
}

.slide_in.sd.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

body {
  font-size: 14px;
  font-family: noto,'Noto Sans', "ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",MS PGothic,"Font Awesome 5 Free",sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
}

.font-sm, .case__price, .seminer__price {
  font-size: 12px !important;
}

.font-md {
  font-size: 14px !important;
}

.font-lr, .industry__top__p {
  font-size: 16px !important;
}

.font-lg {
  font-size: 25px !important;
}

.mb-10vw {
  margin-bottom: 10vw !important;
}

.mb-sm, .information__date__part {
  margin-bottom: 10px !important;
}

.mb-md {
  margin-bottom: 30px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-md {
  padding-bottom: 30px !important;
}

.pd-lg {
  padding-bottom: 80px !important;
}

.left {
  text-align: left;
}

.lts-sm {
  letter-spacing: 1.2px;
}

.lts-md {
  letter-spacing: 1.5px;
}

.lh-sm {
  line-height: 1.2rem;
}

.lh-md {
  line-height: 1.5rem;
}

.lh-lg {
  line-height: 1.7rem;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 12px 0;
}

.btn-red {
  display: block;
  text-align: center;
  background: #7D1820;
  color: #fff !important;
  padding: 17px 0 14px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 4px rgba(51, 51, 51, 0.25);
          box-shadow: 0 3px 4px rgba(51, 51, 51, 0.25);
}

.btn-ttl {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.content-width, .interview, .search__container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.main_ttl {
  font-size: 18px;
  color: #7D1820;
}

.link-color {
  color: #275481 !important;
}

.part-main-ttl, .cta__mail-btn {
  font-family: 游ゴシック,游ゴシック体,Yu Gothic,YuGothic,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
}

.part-sub-ttl {
  color: #7D1820;
  font-family: Times New Roman,EB Garamond,serif;
  text-align: center;
}

.ttl-bk16, .reason__ttl {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.blog__link {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 700;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog__predi {
  font-size: 18px;
  color: #7D1820;
}

.blog__predi-comment {
  margin-bottom: 8px;
}

.blog__text {
  padding: 20px !important;
}

.btn_link {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px 20px;
  display: block;
  font-weight: 700;
}

.case__article {
  color: #333;
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 1.2px;
}

.case__container {
  position: relative;
  margin-bottom: 40px;
}

.case__container::before {
  content: "";
  display: block;
  background: #f2eee7;
  width: 100%;
  height: 97.5%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.case__date {
  padding-left: 10px;
}

.case__header {
  text-align: center;
  margin-bottom: 15px !important;
}

.case__header > h2 {
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
}

.case__image {
  padding: 0 3px;
}

.case__li:not(:last-child) {
  border-bottom: 2px solid #fff;
}

.case__link {
  display: block;
  padding: 25px 0 50px;
}

.case__price {
  font-weight: 700;
  color: #7D1820;
}

.case__price span {
  border: 1px solid #7D1820;
  padding: 4px 10px;
  display: inline-block;
}

.case__more__look {
  margin: 0 auto;
  margin-top: 25px;
}

.case__ribonn-black {
  background-color: #363636;
  color: #fff;
  margin-top: 10px;
}

.case__ribonn-black > ul {
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
  width: 88%;
}

.case__ribonn-black::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -.5px;
  border-style: solid;
  border-width: 75px 0 75px 20px;
  border-color: transparent transparent transparent #f2eee7;
}

.case__ribonn__outer {
  position: relative;
  height: 145px;
  line-height: 1.4;
}

.case__ribonn-position {
  font-weight: bolder;
}

.case__ribonn-price {
  font-size: 1.5rem;
  font-family: Lato;
  font-weight: 700;
}

.case__ribonn-ul {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
}

.case__ribonn-white {
  background-color: #fff;
}

.case__ribonn-white::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -.5px;
  border-style: solid;
  border-width: 75px 0 75px 20px;
  border-color: transparent transparent transparent #fff;
  background: #f2eee7;
}

.case__ribonn-white > ul {
  -webkit-transform: translate(-53%, -50%);
          transform: translate(-53%, -50%);
  color: #7D1820;
}

.case__ttls {
  text-align: center;
}

.case__ttl {
  font-size: 18px;
  color: #7D1820;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.cta {
  color: #fff;
}

.cta__bgi {
  background-image: url(../images/img_cta_bg.png);
  background-size: cover;
  background-position: 64% center;
  background-repeat: no-repeat;
}

.cta__btn {
  text-align: center;
}

.cta__consal-ttl {
  padding: 50px 0 30px;
}

.cta__description {
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN;
  line-height: 1.4;
  text-align: center;
}

.cta__facebook {
  text-align: right !important;
  margin-right: 10px !important;
}

.cta__linked {
  text-align: left !important;
  margin-left: 10px !important;
}

.cta__features {
  color: #333 !important;
}

.cta__feature {
  line-height: 1.5;
  padding-bottom: 25px !important;
}

.cta__feature-img {
  padding-right: 10px;
}

.cta__feature-text > P {
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN;
  font-size: 10px;
}

.cta__feature-ttl {
  font-size: 14px;
  letter-spacing: 0.8px;
}

.cta__header {
  text-align: center;
}

.cta__mail-btn {
  display: block;
  border: 2px solid #f2de9e;
  border-radius: 4px;
  color: #f2ee9e;
  font-size: 16px !important;
  font-weight: 700;
  padding: 15px 0;
}

.cta__main-ttl {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.3;
  padding-bottom: 30px;
}

.cta__sns {
  background-color: #400305;
  text-align: center;
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN !important;
}

.cta__sns-i {
  font-weight: 700;
  font-size: 15px;
}

.cta__sns-icon {
  max-width: 16%;
  vertical-align: bottom;
}

.cta__sns__ttl {
  font-size: 18px;
  padding: 30px 0 20px;
}

.cta__ul {
  background-color: #fff;
  padding: 20px;
}

.fa-angle-right {
  margin-left: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid  #dedede;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.history__header {
  position: relative;
  padding-left: 30px;
}

.history__header::before {
  content: "";
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 22px;
  width: 23px;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 0;
}

.history__link {
  display: block;
  font-size: 16px;
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN;
  line-height: 2.3;
  width: 92%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #275481 !important;
}

.history__more {
  display: inline-block;
  margin-top: 15px;
  color: #275481;
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN;
  font-size: 14px;
  position: relative;
}

.history__more::after {
  content: "";
  background-image: url(../images/plus.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  display: inline-block;
  position: absolute;
  top: 1px;
  margin-left: 10px;
}

.history__outer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0.88% 15px 23px !important;
}

.history__li:first-child {
  margin-top: 10px;
}

.history__ul {
  height: 0;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.history__ul.active {
  height: 150px;
}

.informaiton__cat-other {
  position: relative;
  font-weight: bold;
  font-size: 16px;
}

.informaiton__cat-other::after {
  content: "その他";
  position: absolute;
  top: -2px;
  right: -150px;
  height: 19px;
  width: 120px;
  background-color: #707070;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 0;
}

.informaiton__cat-seminer {
  position: relative;
  font-weight: bold;
  font-size: 16px;
}

.informaiton__cat-seminer::after {
  content: "セミナー情報";
  position: absolute;
  top: -2px;
  right: -150px;
  height: 19px;
  width: 120px;
  background-color: #707070;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 0;
}

.information__btn {
  margin-top: 40px;
}

.information__li {
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}

.information__link {
  color: #275481 !important;
}

.industry {
  text-align: center;
}

.industry__box-outer {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.industry__header {
  position: relative;
  padding-bottom: 160px;
}

.industry__header::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;
  background-image: url(../images/img_top_industry_visual.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 129px;
  z-index: -1;
  margin-bottom: 100px;
}

.industry__li {
  padding: 29px 0.88% 29px 23px !important;
  font-weight: bold;
}

.industry__li:nth-of-type(2) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.industry__link {
  display: block;
}

.industry__outer {
  text-align: left;
}

.industry__top__p {
  font-weight: normal;
  text-align: left;
  letter-spacing: 1px !important;
  line-height: 1.2;
}

.interview {
  font-family: serif;
}

.interview__inner {
  position: relative;
}

.interview__outer {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 29px 0.88% 31px 23px !important;
}

.interview__main {
  margin-left: 40px;
  margin-bottom: 20px;
}

.interview__main::before {
  content: "";
  background-image: url(../images/mic.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 0;
}

.interview__sub {
  color: #333;
  font-family: メイリオ,Meiryo,ヒラギノ角ゴ ProN W3,Hiragino Kaku Gothic ProN,sans-serif;
}

.logo {
  margin-left: 10px;
}

.logo_bain {
  border: 1px solid #ccc;
}

.pc__nav {
  display: none;
}

.reason__header {
  text-align: center;
}

.reason__li {
  position: relative;
}

.reason__li::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 99%;
  background: #f2eee7;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.reason__articles li:first-child::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 112%;
  background: #f2eee7;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.reason__No {
  font-size: 60px;
  text-align: center;
  padding-top: 10px;
}

.reason__main__ttl, .industry__main__ttl {
  font-size: 20px;
}

.reason__sub__ttl, .industry__sub__ttl, .reason__No {
  color: #7D1820;
  font-family: Times New Roman,EB Garamond,serif;
}

.reason__ttl {
  line-height: 1.5;
}

.section_ttl {
  font-size: 22px;
  line-height: 1.4545;
  letter-spacing: 1.3px;
}

.sentence {
  line-height: 1.77;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1.1px;
  text-align: justify;
  text-align-last: center;
}

.search__form {
  position: relative;
}

.search__item span {
  color: #275481 !important;
}

.search__item .fa-angle-right {
  color: #275481 !important !important;
  margin-left: 5px;
}

.search__submit {
  right: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  background-color: #9F071A;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 4px rgba(51, 51, 51, 0.25);
          box-shadow: 0 3px 4px rgba(51, 51, 51, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search__submit:focus {
  outline-style: auto;
  outline-width: 1px;
}

.search__submit::before {
  content: "";
  background-image: url(../images/search.svg);
  background-size: cover;
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
}

.search__textbox {
  padding-left: 15px;
  display: inline-block;
  height: 42px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.seminer__article, .reason__article, .information__link, .industry__top__p {
  color: #333;
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 1.2px;
}

.seminer__container {
  position: relative;
}

.seminer__container::before {
  content: "";
  display: block;
  background: #f2eee7;
  width: 100%;
  height: 98%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.seminer__date {
  padding-left: 10px;
}

.seminer__image {
  padding: 0 3px;
}

.seminer__li {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 4px rgba(51, 51, 51, 0.25);
          box-shadow: 0 3px 4px rgba(51, 51, 51, 0.25);
  background-color: #fff;
}

.seminer__link {
  display: block;
  padding: 35px 20px;
}

.seminer__price {
  font-weight: 700;
  color: #7D1820;
}

.seminer__price span {
  border: 1px solid #7D1820;
  padding: 4px 10px;
  display: inline-block;
}

.seminer__more__look {
  margin: 0 auto;
  margin-top: -25px;
}

.seminer__ttls {
  text-align: center;
}

.seminer__ttl {
  font-size: 18px;
  color: #7D1820;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.strong__inner {
  margin-top: -25vw;
  background-image: url(../../../assets/images/img_top_h1bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 34px 20px 30px;
}

.top__hero {
  padding-top: 45px;
}

@media (min-width: 960px) {
  .font-sm, .case__price, .seminer__price {
    font-size: 16px !important;
  }
  .font-md {
    font-size: 19px !important;
  }
  .font-lr, .industry__top__p {
    font-size: 23px !important;
  }
  .font-lg {
    font-size: 36px !important;
  }
  .mb-10 {
    margin-bottom: 10vw !important;
  }
  .mb-sm, .information__date__part {
    margin-bottom: 10px;
  }
  .mb-md {
    margin-bottom: 50px !important;
  }
  .mb-lg {
    padding-bottom: 150px !important;
  }
  .content-width, .interview, .search__container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
  }
}
/*# sourceMappingURL=style.css.map */