@charset "UTF-8";
* {
  font-family: 游ゴシック,游ゴシック体,Yu Gothic,YuGothic,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,sans-serif;
}

.bdr_btm_no {
  border-bottom: none !important;
}

.pt_16 {
  padding: 16px 0 0 !important;
}

.acd__parent__ttl {
  position: relative;
}

.acd__child__size8.inview {
  height: 352px;
}

.acd__child__size7.inview {
  height: 308px;
}

.acd__child__size6.inview {
  height: 264px;
}

.acd__child__size5.inview {
  height: 220px;
}

.acd__child__size4.inview {
  height: 176px;
}

.acd__child__size3.inview {
  height: 132px;
}

.fa-angle-down {
  font-size: 18px !important;
}

.mbl__container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.mbl__menu {
  overflow-y: scroll;
  background: #fff;
  color: #333;
  margin: auto;
  z-index: 99;
  height: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.mbl__menu.active {
  -webkit-transform: none;
          transform: none;
  height: calc(100vh - 60px);
}

.mbl__menu a {
  display: block;
  padding: 16px 6.25% 14px;
  font-weight: 700;
}

.mbl__menu__chd__ul {
  background-color: #7D1820;
  color: #e6cdce;
  display: block;
  height: 0;
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mbl__menu__chd__ul.inview {
  opacity: 1;
  visibility: visible;
}

.mbl__menu__chd__ul a {
  font-weight: normal;
  padding: 16px 0 14px;
}

.mbl__menu__chd__ul li {
  border-bottom: 1px solid #a04448;
  margin: 0 6.25%;
}

.mbl__menu__li {
  border-bottom: 1px solid #bebebe;
}

.mbl__menu__toggle_btn {
  position: absolute;
  top: 20%;
  right: 20px;
}

.mbl__li__ttl.inview {
  color: #7D1820;
}

.mbl__ul a {
  font-size: 13px !important;
  color: #666666;
}

.toglle_block {
  position: absolute;
  display: block;
  right: 10px;
  top: -3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toglle_block.inview {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mbl__nav {
  height: 60px;
}

.mbl__nav a {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  z-index: 2;
}

.nav_open div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav_open div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.nav_open div:nth-of-type(3) {
  -webkit-transform: translate(-50%, 7px);
          transform: translate(-50%, 7px);
}

.nav_open.active div:nth-last-child(1) {
  -webkit-transform: rotate(45deg) translate(-50%, 0px);
          transform: rotate(45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav_open.active div:nth-last-child(2) {
  opacity: 0;
}

.nav_open.active div:nth-last-child(3) {
  -webkit-transform: rotate(-45deg) translate(-50%, 0px);
          transform: rotate(-45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.slide_in.su {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
}

.slide_in.su.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.slide_in.sl {
  -webkit-transform: translateX(-99%);
          transform: translateX(-99%);
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
}

.slide_in.sl.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.slide_in.sr {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
}

.slide_in.sr.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.slide_in.sd {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
}

.slide_in.sd.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

body {
  font-size: 14px;
  font-family: noto,'Noto Sans', "ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",MS PGothic,"Font Awesome 5 Free",sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
}

.font-sm {
  font-size: 12px !important;
}

.font-md {
  font-size: 14px !important;
}

.font-lr {
  font-size: 16px !important;
}

.font-lg {
  font-size: 25px !important;
}

.mb-10vw {
  margin-bottom: 10vw !important;
}

.mb-sm {
  margin-bottom: 10px !important;
}

.mb-md {
  margin-bottom: 30px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pd-lg {
  padding-bottom: 80px !important;
}

.left {
  text-align: left;
}

.lts-sm {
  letter-spacing: 1.2px;
}

.lts-md {
  letter-spacing: 1.5px;
}

.lh-sm {
  line-height: 1.2rem;
}

.lh-md {
  line-height: 1.5rem;
}

.lh-lg {
  line-height: 1.7rem;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 12px 0;
}

.content-width, .interview, .search__container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.btn_link {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px 20px;
  display: block;
  font-weight: 700;
}

.fa-angle-right {
  margin-left: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid  #dedede;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.interview {
  font-family: serif;
}

.interview__inner {
  position: relative;
}

.interview__outer {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 29px 0.88% 31px 23px !important;
}

.interview__main {
  margin-left: 40px;
  margin-bottom: 20px;
}

.interview__main::before {
  content: "";
  background-image: url(../images/mic.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 0;
}

.interview__sub {
  color: #333;
  font-family: メイリオ,Meiryo,ヒラギノ角ゴ ProN W3,Hiragino Kaku Gothic ProN,sans-serif;
}

.logo {
  margin-left: 10px;
}

.main_ttl {
  font-size: 18px;
  color: #7D1820;
}

.pc__nav {
  display: none;
}

.reason__inner {
  text-align: center;
}

.reason__No {
  font-size: 60px;
  text-align: center;
}

.reason__main__ttl {
  font-size: 20px;
}

.reason__sub__ttl, .reason__No {
  color: #7D1820;
  font-family: Times New Roman,EB Garamond,serif;
}

.section_ttl {
  font-size: 22px;
  line-height: 1.4545;
  letter-spacing: 1.3px;
}

.sentence {
  line-height: 1.77;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1.1px;
  text-align: justify;
  text-align-last: center;
}

.search__form {
  position: relative;
}

.search__item span {
  color: #275481;
}

.search__item .fa-angle-right {
  color: #275481 !important;
  margin-left: 5px;
}

.search__submit {
  right: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  background-color: #9F071A;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 4px rgba(51, 51, 51, 0.25);
          box-shadow: 0 3px 4px rgba(51, 51, 51, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search__submit:focus {
  outline-style: auto;
  outline-width: 1px;
}

.search__submit::before {
  content: "";
  background-image: url(../images/search.svg);
  background-size: cover;
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
}

.search__textbox {
  padding-left: 15px;
  display: inline-block;
  height: 42px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.strong__inner {
  margin-top: -25vw;
  background-image: url(../../../assets/images/img_top_h1bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 34px 20px 30px;
}

.top__hero {
  padding-top: 45px;
}

@media (min-width: 960px) {
  .font-sm {
    font-size: 16px !important;
  }
  .font-md {
    font-size: 19px !important;
  }
  .font-lr {
    font-size: 23px !important;
  }
  .font-lg {
    font-size: 36px !important;
  }
  .mb-10 {
    margin-bottom: 10vw !important;
  }
  .mb-sm {
    margin-bottom: 10px;
  }
  .mb-md {
    margin-bottom: 50px !important;
  }
  .mb-lg {
    padding-bottom: 150px !important;
  }
  .content-width, .interview, .search__container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
  }
}
/*# sourceMappingURL=style.css.map */