.font-sm {
  font-size: 16px!important;
}
.font-md {
  font-size: 19px!important;
}
.font-lr {
  font-size: 23px!important;
}
.font-lg {
  font-size: 36px!important;
}
.mb-10 {
  margin-bottom: 10vw !important;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb-md {
  margin-bottom: 50px!important;
}
.mb-lg {
  padding-bottom: 150px!important;
}

.content-width {
  width: 80%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.header {
  height: 100px;
  &__inner {
    margin-top: 10px!important;
  }
}
.mbl__nav {
  display: none;
}

.pc__nav {
  display: block;
  &__header-main {
    font-size: 1.0rem;
  }
  &__header-sub {
    font-size: 0.9rem;
    margin-bottom: 10px!important;
  }
  &__header__regstory {
    margin-right: 20px!important;
    & > img {
      height: 70px;
    }
  }
  &__ul {
    display: flex;
    justify-content: end;
    & > li+li {
      margin-left: 40px;
    }
  }
}